@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}



.typing-demo {
    width: 9ch;
    animation: typing 4s steps(20, end) infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.button-container {
    transition: all 0.4s ease;
}

.button-container:hover .icon-arrow {
    transform: rotate(90deg);
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(to right,
            rgba(219, 143, 201, 0.8),
            hsla(301, 51%, 73%, 0.8)) !important;

}

.responsive-hidden{
    overflow-x: hidden;
}